{% extends 'core/plantilla5.html' %}
{% load static %}
{% block content %}
<div class="carrusel-test">
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXFJREFUSEvNlNsxBkEQRs8fARkgAkSADIgAESACRIAIEAEZIAJkQASIgPq2urd6x9w8bJWu2oednvnO9GV6wcy2mFmffwc4sIhveiP/SwQSvzbhQ6AL0gvYAJ6TW28CL61IegESWk/EtCZI1XoAx8BFQeUEuKwRImAVeMts1tpKQUS+tYxv1IqAbwOoeFfApx08A04LgHNAftkycASoGQQYtFOA60hcBwWSbQP3wJL9f9maF1lp1CUEcfsFkKgL+KZHYM+iUSfp34ESl+CdwWKQusAAixHo8FYmFRLaCRBtcfEHQODUnhwaAcr9fiHXEeL5LonLf2u1mEQQX2qOE/s+9y7imfGlxwiUs49CBL7sRVe3lEz5VxcNXZg+tFqaGuzRPaYnBxBZ4afd1Cs+uX0OoLXaaGiB1NJ6L6OVZlGr4DlQdoTXht2uDbLSHHLIu7WkP8IJvDVN1VkC6VN9fGS/Wq2UjklK0tBagFbOm/7ZAT/qckUZVC8vugAAAABJRU5ErkJggg=="/><h5 class="nombre">Arte Cultivo</h5>
        <div class="carousel-item active" data-bs-interval="2000">
         <img src="https://images.unsplash.com/photo-1597696929736-6d13bed8e6a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXJufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="macetero" ></a>
          <div class="carousel-caption col-sm-8 d-none d-md-block">
            <h5 class="nombre">Maceteros de cerámica</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://images.unsplash.com/photo-1597696929644-a2157a251a43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100" alt="macetero" ></a>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="nombre">Maceteros de Arcilla</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1542234161-b0394bb94542?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fHBvdCUyMGNlbWVudHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="macetero" ></a>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="nombre">Maceteros de cemento</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <main>
        
      <div class="container" id="lista-productos">
        <br><br>
        <h2 class="titulo">Maceteros</h2>
        <div class="card-deck mb-3 text-center">
            
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">Macetero Retro</h4>
                </div>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1523976714396-3ee195e3b3a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">$ <span class="">5000</span></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                        <li>Macetero retro hecho a mano</li>
                        <li>Stock: 5</li>
                    </ul>
                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="7">Comprar</a>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">Maceteros Colores </h4>
                </div>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1629380321590-3b3f75d66dec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">$ <span class="">5990</span></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                        <li>Maceteros de colores, distintos tamaños</li>
                        <li>Stock: 9</li>
                    </ul>
                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="8">Comprar</a>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">Macetero Tipo Vaso</h4>
                </div>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1523976888287-7454b4df44f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">$ <span class="">6500</span></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                        <li>Macetero de color gris, modelo tipo vaso</li>
                        <li>Stock: 12</li>
                    </ul>
                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="9">Comprar</a>
                </div>
            </div>

        </div>

        <div class="card-deck mb-3 text-center">
            
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">Macetero Tipo Taza</h4>
                </div>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1525972757199-cf2ad7cc4f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">$ <span class="">4990</span></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                        <li>Macetero color gris, con asa</li>
                        <li>Stock: 10</li>
                    </ul>
                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="10">Comprar</a>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">Macetero Básico</h4>
                </div>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1517013937089-7e4e8c4fb78d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">$ <span class="">5690</span></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                        <li>Maceteros básico color gris</li>
                        <li>Stock: 5</li>
                    </ul>
                    <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="11">Comprar</a>
                </div>
            </div>
        </div>
    </div>
       
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Acerca de nuestros maceteros</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="{% static 'core/img/como1.jpg' %}" alt="">
                        <h3>¿Sabias que nuestros maceteros son hechos a mano o traidos de pomaire?</h3>
                        <p>El 90% de nuestros maceteros son hechos a manos por nuestros vecinos de la comunidad, por lo que algunos pueden ser totalmente personalizados</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/sweetalert2.min.js' %}"></script>

    <script src="{% static 'core/js/carrito.js' %}"></script>
    <script src="{% static 'core/js/pedido.js' %}"></script>

    {% endblock %}